<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}WeatheRide!{% endblock %}</title>
        {% block stylesheets %}
            <link type="text/css" rel="stylesheet" href="{{ asset('../src/WeatherideBundle/Resources/Public/css/style.css') }}"/>
            <link rel="stylesheet" type="text/css" href="../src/WeatherideBundle/Resources/Public/css/style.css/bootstrap.min.css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript">
            </script>
        {% endblock %}
    </body>
</html>